<!-- templates/task_type/list.html -->
{% extends 'base.html' %}

{% block title %}
  Task {{ task_type.name }}
{% endblock %}

{% block content %}
  <h1>Types de tâches</h1>

  {% if task_types.count > 0 %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th> </th>
      </tr>
    
      {% for task_type in task_types.all %}
      <tr>
        <td>{{ task_type.name }}</td>
        <td>{{ task_type.description }}</td>
        <td><a href="{% url 'task_type_details' task_type.uuid %}"><img src="/static/admin/img/icon-viewlink.svg" alt="" width="20" height="20"></a></td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}
